.TitleTSX {
  padding: 18px;
  text-align: center;
}

.CategoryTitle {
  padding: 0;
  padding-left: 18px;
  margin: auto 0;
  width: 200px;
}

.BigTitle {
  font-size: 24px;
}

.HoveredTitle {
  color: rgb(86, 12, 123);
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}

.PresetCreateTitle {
  width: 200px;
}
