.PresetCreate {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  & > .PresetInfoSet {
    padding: 20px;
    margin: 10px;
    & > .SetCategory {
      display: flex;
    }
  }
  & > .SelectField {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    & > .Select {
      display: flex;
      & > .SelectCategory {
        flex: 1;
        padding: 10px;
        & > .SelectCategoryTitle:hover {
          color: rgb(86, 12, 123);
          text-decoration: underline;
          cursor: pointer;
        }
        & > .CategoryBox {
          font-size: 14px;
          text-align: center;
          height: 50px;
          padding: 5px;
          line-height: 40px;
          overflow: hidden;
          margin: 10px;
          border: 1px solid black;
          &:hover {
            cursor: pointer;
          }
        }
      }
      & > .SelectItem {
        padding: 10px;
        flex: 2.5;
      }
    }
  }
}
