.Wrapper {
  padding: 80px 40px;
  align-items: center;
}

.Title {
  padding-bottom: 4px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bolder;
}

.Horizontal {
  width: 800px;
  margin-top: 20px;
  border-bottom: 1px solid #888;
}

.PriceWrapper {
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding: 0 20px;
  margin: 30px 0;
}

.Price {
  font-size: 20px;
  font-weight: bolder;
}

.TotalPrice {
  display: flex;
  width: 1200px;
  height: 60px;
  line-height: 60px;
  position: fixed;
  background-color: rgb(229, 198, 239);
  bottom: 0;
  & > .TotalQuantity {
    flex: 1.5;
    text-align: center;
  }
  & > .TotalPriceDetail {
    flex: 1.5;
    text-align: right;
    font-size: 28px;
    font-weight: bolder;
  }
  & > button {
    flex: 0.8;
    margin: auto 200px auto 40px;
  }
}
